<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <hr class="vial-primary">
      <div class="col-lg-8 col-lg-offset-2 text-center" >
        <p>Being <a href="https://www.torontopflag.org/lgbtq2s-terms-to-know" style="color: #b48ead; font-weight: bold;">2SLGBTQIA+</a> (two-spirit, lesbian, gay, bisexual, transgender, queer, intersex, asexual, plus) in STEM can be isolating. In an effort to build community and bring together Queer and Trans folks, a group of advocates and scientists have built the Pride in Microbiology Network.</p>
        <p>As a community-building initiative, with a focus on the microbial sciences, the Pride in Microbiology Network is committed to creating a safe-space for Queer and Trans microbiologists to meet, network, and collaborate. You can sign up to our mailing list below, or <a href="https://discord.gg/JEk9XTe4qM" style="color: #b48ead; font-weight: bold;"> join our discord server!</a></p>
      </div>
    </div>
  </div>
</section>
