<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
 	<hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Being 2SLGBTQIA+ in STEM can be isolating. In an effort to build community and bring together Queer and Trans folks, a group of advocates and scientists have built the Pride in Microbiology Network.</p>
      </div>
      <div class="col-lg-4">
        <p>As a community-building initiative, with a focus on the microbial sciences, the Pride in Microbiology Network is committed to creating a safe-space for Queer and Trans microbiologists to meet, network, and collaborate. You can sign up to our mailing list below, or join our discord server!</p>
      </div>
    </div>
  </div>
</section>
