<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/logo.png" alt="Pride in Microbiology Logo: a purple glove holding a round petri plate, within the petri plate are different bacterial growth which are arranged in colour and style to match the progress pride flag." width="50%" height="50%"/>
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <h3 class="skills">{{ site.skills }}</h3>
        </div>
      </div>
    </div>
  </div>
</header>
